body{
    background-color: bisque;
}
.left{
    width: 500px;
    height: 600px;
    background-color: red;
    border: 10px solid green;
    border-radius: 20px;
}
#img{
    /* margin-left: 90px;
    margin-top: 50px; */
    
}
#namee{
    text-align: center;
    margin-top: -50px;
}
.right{
    width: 400px;
    height: 200px;
    background-color: aqua;
    border: 2px solid rgb(162, 194, 57);
    border-radius: 10px;
    margin-left: 530px;
    margin-top: -610px;
}
#about{
    margin-left: -0px;
    margin-top: -8px;
}
#para{
    width: 300px;
    height: 220px;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bott1{
    margin-top: -160px;
    margin-left: 180px;
    width: 200px;
    height: 60px;
    /* border: 2px solid yellow; */
    background-color: brown;
}
#bottom1{
    text-align: center;
}
#skills{
    color: blue;
    margin-left: 5px;
    margin-top: -10px;
}
.right2{
    width: 350px;
    height: 200px;
    background-color: aquamarine;
    border: 2px solid black;
    margin-left: 940px;
    margin-top: -200px;
    border: 2px solid rgb(162, 194, 57);
    border-radius: 10px;
}
#list{
    margin-left: -100px;
}
#paraskills{
    width: 300px;
    height: 220px;
    margin-top: -20px;
    margin-left: 120px;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#detailpro{
    color: blue;
    margin-left: 5px;
    margin-top: -10px;
}
.right3{
    width: 400px;
    height: 200px;
    background-color: rgb(133, 205, 50);
    border: 2px solid black;
    margin-left: 530px;
    margin-top: 0px;
    border: 2px solid rgb(162, 194, 57);
    border-radius: 10px;
}
#detail{
    margin-left: -100px;
}
#paradetail{
    width: 300px;
    height: 220px;
    margin-top: -20px;
    margin-left: 120px;
    font-size: 12px;
    box-shadow: 0px 0px 10px rgb(red, green, blue);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.right4{
    width: 350px;
    height: 200px;
    background-color: rgb(189, 154, 47);
    border: 2px solid black;
    margin-left: 950px;
    margin-top: -200px;
    border-radius: 10px;
}
#name{
    width: 270px;
    height: 20px;
    color: brown;
    margin-left: 20px;
    margin-top: 20px;
    background-color: black;
    border: 2px solid rgb(73, 131, 193);
    border-radius: 10px;
}
#password{
    margin-left: 20px;
    width: 270px;
    height: 20px;
    color: brown;
    background-color: black;
    border: 2px solid rgb(73, 131, 193);
    border-radius: 10px;
}
#button{
    margin-left: 90px;
    height: 30px;
    background-color: rgb(33, 237, 18);
    border: 2px solid rgb(73, 131, 193);
    border-radius: 10px;
}
#email{
    margin-left: 20px;
    color: brown;
    width: 270px;
    height: 20px;
    background-color: black;
    border: 2px solid rgb(73, 131, 193);
    border-radius: 10px;
}
.right5{
    width: 770px;
    height: 150px;
    margin-top: 20px;
    background-color: rgb(120, 148, 152);
    border: 2px solid greenyellow;
    border-radius: 10px;
    margin-left: 530px;
}